<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>App communicates using CoreBluetooth</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>App needs access to your camera to capture photo and video</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App captures photos and saves them into your photo library</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
</dict>
</plist>
